/* Styles for the container of the component selector */
.component-selector-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  }
  
  
  /* Styles for buttons */
  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Styles for select wrapper */
  .select-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  /* Styles for the select dropdown */
  .select-wrapper select {
    padding: 8px 16px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Additional styles for the newly added select box */
  .select-box {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    transition: border-color 0.3s ease;
    position: fixed; /* Fixed position on the screen */
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 999; /* Ensure it's above other elements */
  }
  
  .select-box:hover {
    border-color: #0056b3;
  }
  
  /* Additional styles for positioning the select box */
  .select-wrapper.top-right {
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
  }

  @media only screen and (max-width: 768px) {
    .select-box {
        top:8%;
        right:2%;
    }}
