/* Wrapper for the select dropdown */
.select-wrapper {
    margin-bottom: 1cm;
}

.select-wrapper select {
    max-height: 400px;
    margin-top: 10px;
}

/* Wrapper for the data table */
.data-table-wrapper {
    max-height: 400px;
    margin-top: 10px;
    overflow-y: auto;
}

/* General styles for the data table */
.data-table {
    border: 1px solid black;
    border-collapse: separate; /* Use separate borders to enable rounded corners */
    border-spacing: 0; /* Remove spacing between cells */
    width: 100%;
    background-color: #00003C; /* Set table background color */
    color: white; /* Set text color to white */
    border-radius: 10px; /* Rounded edges for the table */
    overflow: hidden; /* Ensure contents are clipped to border radius */
    opacity: 0.80;
}

.data-table th,
.data-table td {
    border: 1px solid black;
    padding: 8px; /* Add padding for better readability */
    text-align: center;
    border-radius: 10px; /* Rounded edges for cells */
}

/* Styles for tables without borders */
.data-table.no-border {
    border: none;
}

.data-table.no-border thead,
.data-table.no-border th,
.data-table.no-border td {
    border: none;
}

/* Component for version display with background image and header */
.version-component {
    background-image: url('../gallery/baseball.jpg'); /* Path to background image */
    background-size: cover; /* Scale image to cover container */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative; /* Relative positioning for pseudo-element */
}

.version-component::before {
    content: "";
    background-image: url('../gallery/head.png'); /* Path to header image */
    background-size: contain; /* Scale header image appropriately */
    background-repeat: no-repeat; /* Prevent header image repetition */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width */
    height: 150px; /* Fixed height */
    z-index: 10; /* Ensure header appears above content */
    opacity: 0.80;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .version-component {
        background-size: cover; /* Ensure background covers container */
        background-position: center; /* Center background image */
    }
}

/* Title within the version component */
.version-component .title {
    color: white; /* Set title text color to white */
}
